<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>|Mission to Mars|</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Go to Mars!</a>
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="heading"><strong>Latest Mars News</strong></h2>
                <h3 class="heading">{{mars.News_Title}}</h3>
                <p>{{mars.Paragraph_Text}}</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading"><strong>Featured Mars Image</strong></h2>
                <img src="{{mars.Most_Recent_Mars_Image}}">
            </div>
        </div>
        <br>
        <div class="col-md-12" style="padding-top: 20px;">
            <span class="border">               
                 <strong><h2>Current Weather On Mars</h2></strong>           
                <p>{{mars.Mars_Weather}}</p>
            </span>
<br>
            <div class="row" style="padding-left: 20px;">
                <strong><h2>Mars Facts</h2></strong> 
                <table>
                    {{mars.Mars_Facts|safe}}
                </table>
            </div>
        </div>
    </div>   
<br>
    <h3 style="padding-top:20px; text-align: center;">Mars Hemispheres</h3>
    <div class='card-deck'>
        <div class='col-md-12'>
            <div class="row">
                {% for image in mars.mars_hemisphere %}
                <div class="col-md-6">
                    <div class="card text-white bg-dark" style="margin: 30px;">
                        <img class="card-img-top" src="{{image.img_url}}" />
                        <div class="card-body">
                            <p class="card-text">{{ image.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->

</body>

</html>